/* class reference */
/*.red-text{*/
/*    color:red;*/
/*}*/

/* id reference */
/*#blue-text{*/
/*    color:blue;*/
/*}*/
body{
    background:url(http://subtlepatterns.com/patterns/white_carbonfiber.png);
}

.navBtn {
    width: 6em;
}
.navBtnL{
    margin-right:2px;
}

h3{
    text-decoration:underline;
    font-family: 'Vollkor', serif;
}

.right{
    text-align:right;
}

.row{
    margin-top:2em;
}

#main{
    text-align:center;
}

.container{
    background:#669999;
    padding:40px;
}

.btn{
    height: 2em; 
    margin:.25em;
}

h1, h2, h4, h5, h6 {
    font-family: 'Vollkorn', serif;
}
p, div {
    font-family: 'Exo', sans-serif;
}