/* class reference */
/*.red-text{*/
/*    color:red;*/
/*}*/

/* id reference */
/*#blue-text{*/
/*    color:blue;*/
/*}*/
body{
    background:url(http://subtlepatterns.com/patterns/white_carbonfiber.png);
}

.navBtn {
    width: 6em;
}
.navBtnL{
    margin-right:2px;
}

div > h4{
    text-decoration:underline;
}

.right{
    text-align:right;
}

.row{
    margin-top:25px;
}

#main{
    text-align:center;
}