/* class reference */
/*.red-text{*/
/*    color:red;*/
/*}*/

/* id reference */
/*#blue-text{*/
/*    color:blue;*/
/*}*/
.navBtn {
    width: 6em;
}
.navBtnL{
    margin-right:2px;
}
.center{
    text-align:center;
}
#questionRow{
    height:100px;
}

#answer{
    display:inline-bl;
}